<% layout( 'layout' ) -%>
<h1 style="margin-bottom:0;" align=center ><%= title %></h1>
<div id="header" style="background-color:LightSteelBlue ;">
	<form action="/Products" align=Left  method="post" accept-charset="utf-8" align=center>
	  <p>
	  &hearts; Product Name:<input type="text" size="150" name="productname" required />
	  Enter Product Name (150 chars)
	   </p>
	 
	  <p>
	  <p>&hearts; Description :</p	>
	  <textarea rows="8" cols="100" name="description">Enter description here...</textarea>
	  Product Description (1500 chars)
	   </p>
	  
	  <input type="submit", value="Submit" />

	</form>

  </div>
